<header>
  <h1>Grocery Inventory</h1>
  <nav>
    <a class="nav-links" href="/">Home</a>
    <a class="nav-links" href="/view">View</a>
    <a class="nav-links" href="/edit">Edit</a>
  </nav>
</header>
