<dialog>
  <h3>This action is password protected</h3>
  <p>To confirm your modifications, please enter the admin password.</p>
  <input type="password" name="password" required />
  <div class="button-container">
    <button class="cancel" type="button">Close</button>
    <button class="confirm" type="button">Proceed</button>
  </div>
</dialog>
