<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>Grocery Inventory</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <%- include("partials/productTable.ejs", {
        products,
        pagination,
        nameDirection,
        quantityDirection,
        priceDirection,
        categoryDirection
      }) %>
    </main>
  </body>
</html>
