<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/productDeletedSuccess.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <p>
        <span><%= productName %></span> product has been successfully deleted.
      </p>
      <nav>
        <a href="/view/products">Back to products list</a>
        <a href="/">Go to Home</a>
      </nav>
    </main>
  </body>
</html>
