<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/productForm.css">
    <link rel="stylesheet" href="/styles/productAdd.css">
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <section>
        <h3 class="heading">Add new product</h3>
        <form action="/edit/products/new" method="post" class="product-form">
          <%- include("partials/productForm.ejs", { product, categories, errors }) %>
          <div class="action-container">
            <a href="/edit" class="action">Return</a>
            <button type="submit" class="action">Save</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
