<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>Grocery Inventory</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <nav>
        <a href="/view/products">View all products</a>
        <a href="/view/category/1">View products by category</a>
      </nav>
    </main>
  </body>
</html>
