dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--spacing-8) var(--spacing-6);
  border: none;
  border-radius: var(--radius-large);
  background-color: var(--grey-200);
  box-shadow: var(--shadow-5);
  text-align: center;
}

dialog::backdrop {
  background-color: hsl(from var(--grey-100) h s l / 0.75);
}

dialog h3 {
  font-size: var(--font-size-7);
  margin-bottom: var(--spacing-2);
}

dialog p {
  font-size: var(--font-size-4);
  margin-bottom: var(--spacing-5);
  max-width: 25em;
}

dialog > input.password-input {
  border: none;
  border-radius: var(--radius-medium);
  padding: var(--spacing-2) var(--spacing-4);
  font-size: var(--font-size-5);
  margin-bottom: var(--spacing-6);
  background-color: var(--grey-400);
}

dialog .button-container {
  display: flex;
  justify-content: center;
  gap: var(--spacing-6);
}

dialog .button-container button {
  padding: var(--spacing-1) var(--spacing-3);
  border: none;
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-1);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-3);
}

dialog .button-container .cancel {
  background-color: var(--grey-100);
}

dialog .button-container .confirm {
  background-color: var(--grey-900);
  color: var(--grey-100);
}
