.product-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.product-form > div:not(:last-of-type) {
  display: flex;
  flex-direction: column;
}

.product-form input,
select {
  padding: var(--spacing-2) var(--spacing-3);
  border: none;
  border-radius: var(--radius-medium);
  color: var(--grey-800);
  background-color: var(--grey-200);
}

.quantity-unit-container {
  display: flex;
}

.error-messages {
  list-style: none;
  color: var(--accent-1-500);
  font-weight: var(--font-weight-bold);
}

input.error,
select.error {
  border: solid 1px var(--accent-1-500);
}
