section {
  background-color: var(--grey-100);
  padding: var(--spacing-6) var(--spacing-8);
  border-radius: var(--radius-large);
  box-shadow: var(--shadow-5);
  box-shadow: var(--shadow-5);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-5);
}

.heading h3 {
  font-size: var(--font-size-6);
}

.action-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  margin-top: var(--spacing-4);
}

.action-container a,
.action-container button,
.heading button {
  padding: var(--spacing-1) var(--spacing-3);
  background-color: var(--grey-800);
  color: var(--grey-100);
  border: none;
  border-radius: var(--radius-small);
  font-weight: var(--font-weight-bold);
  box-shadow: var(--shadow-1);
  text-decoration: none;
  border: none;
}

.heading button {
  background-color: var(--accent-1-500);
}

.action-container a {
  color: var(--grey-900);
  background-color: var(--grey-100);
}
