.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-5);
}

.heading h3 {
  font-size: var(--font-size-6);
}

.heading button {
  background-color: var(--accent-1-500);
}
