section {
  background-color: var(--grey-100);
  padding: var(--spacing-6) var(--spacing-8);
  border-radius: var(--radius-large);
  box-shadow: var(--shadow-3);
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.product-form > div:not(:last-of-type) {
  display: flex;
  flex-direction: column;
}

.product-form input,
select {
  padding: var(--spacing-2) var(--spacing-3);
  border: none;
  border-radius: var(--radius-medium);
  color: var(--grey-800);
  background-color: var(--grey-200);
}

.quantity-unit-container {
  display: flex;
}

.error-messages {
  list-style: none;
  color: var(--accent-1-500);
  font-weight: var(--font-weight-bold);
}

input.error,
select.error {
  border: solid 1px var(--accent-1-500);
}

.action-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  margin-top: var(--spacing-4);
}

.action {
  padding: var(--spacing-1) var(--spacing-3);
  background-color: var(--grey-800);
  color: var(--grey-100);
  border: none;
  border-radius: var(--radius-small);
  font-weight: var(--font-weight-bold);
  box-shadow: var(--shadow-1);
  text-decoration: none;
  border: none;
}

a.action {
  color: var(--grey-900);
  background-color: var(--grey-100);
}
